body{
    background-color: #E3FDFD;
}

body, 
h1,
h2,
p {
    margin:0
}

.container {
    margin: 0 auto;
    width: 70%;
}

section {
    padding: 120px;
}


.one {
    background-color: #CBF1F5;
}
.two {
    background-color: #A6E3E9;
}

.three {
    background-color: #71C9CE;
}

.button {
    background: #DCF5CB;
    text-decoration: none;
    padding: 1em 2em;
    display:inline-block;
    color: black;
    border: 2px solid gray;
    margin-top: 20px;
}

.button:hover {
    background: #b0f185;
}

h1 {
    font-family: 'Lora', serif;
    text-align: center;
    color: black;
    font-size: 40px
}

p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
    line-height: 200%;
    font-size: 18px;
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
    color: black;
}

ul,
ol {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: #71C9CE;
    color: black;
    line-height: 200%;
}