body{
    background-color: #E3FDFD;
}

body, 
h1,
h2,
p {
    margin:0
}

.container {
    margin: 0 auto;
    width: 70%;
}

.one {
    background-color: #CBF1F5;
}
.two {
    background-color: #A6E3E9;
}

.three {
    background-color: #71C9CE;
}


h1 {
    font-family: 'Lora', serif;
    text-align: center;
    color: black;
    font-size: 40px
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
    color: black;
}

p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
    line-height: 200%;
    font-size: 18px;
}

ul,
ol {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: #71C9CE;
    color: black;
    line-height: 200%;
}