body{
    background-color: #E3FDFD;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    background-color: #CBF1F5;
    color: black;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    background-color: #71C9CE;
    color: black;
    line-height: 200%;
}

h2 {
    background-color: #A6E3E9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: black;
}

ul,
ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #71C9CE;
    color: black;
    line-height: 200%;
}